/* Damale, Maitreyee Avinash - 1001878520 
   Shaikh, Sarah Fatema- 1001855185
   Begum, Fatima Zohra - 1001880881 */
.service {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../../images/manage.png") no-repeat center center fixed ;
    background-size: cover;
   overflow: scroll;
  
  }
.service{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 
}


.service-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    
}
.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


